h1 {
    font-family: 'Copperplate', 'Papyrus', fantasy;
}

.description {
    text-align: center;
}

.sectiontitles {
    font-family:'Courier New', Courier, monospace;
}

ol {
    background-color: lightblue;
}

ul {
    background-color: lightcoral;
}